<div class="ContenedorBanner">
    <div class="ContenedorTerminal">
        <div class="contenedor-hero">
            <div class="ventana-terminal">
                <div class="barra-superior">
                    <div class="botones-control">
                        <span class="boton cerrar"></span>
                        <span class="boton minimizar"></span>
                        <span class="boton maximizar"></span>
                    </div>
                    <div class="titulo-ventana">bash - carlos@portfolio:~</div>
                </div>
                <div class="cuerpo-terminal">
                        <h1 id="TituloNombre">Carlos Chacón Cazallas</h1>
                    <div style="display: flex;">
                        <div class="linea-codigo">
                            <p id="SubTitulo">Desarrollador Junior OpenFront</p>
                        </div>
                        <div style="padding-left: 40px;">
                            <a href="" target="_blank">
                            <img src="./../../../assets/Images/Iconos/GmailIcon.png" 
                            alt="GmailIcon" class="Iconos">
                            </a>
                        
                            <a href="" target="_blank">
                            <img src="./../../../assets/Images/Iconos/GithubIcon.png" 
                            alt="GithubIcon" class="Iconos">
                            </a>
                        </div>
                    </div>
                    <div>
                        <button class="boton-desplegable" (click)="abierto = !abierto">
                        <span class="flecha" [class.rotada]="abierto">▶</span>
                        Sobre mi
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        <img src="./../../../assets/Images/FotoCarl.png" alt="MiFoto" id="MiFoto">
    </div>

</div>
