<div class="lista-proyectos">

  <!-- Proyecto Nº1: HogwartsWeb -->
  <div class="proyecto-card">
    <div class="proyecto-header">
      <span class="label">FILE:</span>
      <span class="nombre-archivo">Pagina de Harry Potter (HogwartsWeb)</span>
      <span class="status stable">[STABLE]</span> </div>

    <div class="proyecto-content">
      <div class="stack-block">
        <div class="tech-tags">
          <span class="tag">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/spring/spring-original.svg" alt="SpringBoot">
            SpringBoot (Spring Web)
          </span>
          <span class="tag">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mysql/mysql-original.svg" alt="MYSQL">
            MYSQL
          </span>
          <span class="tag">
            <img src="https://cdn.jsdelivr.net/npm/simple-icons@v9/icons/railway.svg" alt="Railway">
            Railway
          </span>
          <span class="tag">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original.svg" alt="React">
            React
          </span>
          <span class="tag">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg" alt="JavaScript">
            JavaScript
          </span>
          <span class="tag">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg" alt="HTML">
            HTML
          </span>
          <span class="tag">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg" alt="CSS">
            CSS
          </span>
        </div>
      </div>
      
      <div class="descripcion-block">
        <h3 class="key">DESCRIPTION:</h3>
        <p class="text">
          Se trata de una página web ambientada y diseñada en el mundo mágico
          y maravilloso de la saga de Harry Potter, que destaca entre el resto
          por la gran interacción que ofrece el usuario. Más allá de contar con
          un cuestionario que te dice a que casa pertenece, dispone de una serie
          de minijuegos con los que puedes ganar puntos. Con esos puntos, puedes
          canjearlos en el apartado de la Tienda e ir comprando algunos de los 
          objetos iconicos de la saga.</p>
      </div>

      <div class="preview-block">
        <div class="contenedor-img">
          <img src="./../../../../assets/Images/CapturaHogwartsWeb.png" alt="Captura HogwartsWeb">
        </div>
      </div>

      <div class="proyecto-actions">
        <a href="https://hogwartsweb.up.railway.app/" target="_blank" class="btn-action">
          <span class="cmd">./exec</span> Acceder
        </a>
        <a href="https://github.com/Carloscazallas123/RepositorioTFG_HarryPotter" target="_blank" class="btn-action">
          <span class="cmd">./view</span> Revisar Código
        </a>
      </div>
    </div>
  </div>
  <br>

  <!-- Proyecto Nº2: Cartas Alocadas -->
  <div class="proyecto-card">
    <div class="proyecto-header">
      <span class="label">FILE:</span>
      <span class="nombre-archivo">Juego de Cartas Multijugador (Cartas ALocadas)</span>
      <span class="status stable">[STABLE]</span> </div>

    <div class="proyecto-content">
      <div class="stack-block">
        <div class="tech-tags">
          <span class="tag">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/spring/spring-original.svg" alt="SpringBoot">
            SpringBoot (Spring WebSocket)
          </span>
          <span class="tag">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mysql/mysql-original.svg" alt="MYSQL">
            MYSQL
          </span>
          <span class="tag">
            <img src="https://cdn.jsdelivr.net/npm/simple-icons@v9/icons/railway.svg" alt="Railway">
            Railway
          </span>
          <span class="tag">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original.svg" alt="React">
            React
          </span>
          <span class="tag">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/typescript/typescript-original.svg" alt="TypeScript">
            TypeScript
          </span>
          <span class="tag">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg" alt="HTML">
            HTML
          </span>
          <span class="tag">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg" alt="CSS">
            CSS
          </span>
        </div>
      </div>
      
      <div class="descripcion-block">
        <h3 class="key">DESCRIPTION:</h3>
        <p class="text">
          Se trata de una página web ambientada y diseñada en el mundo mágico
          y maravilloso de la saga de Harry Potter, que destaca entre el resto
          por la gran interacción que ofrece el usuario. Más allá de contar con
          un cuestionario que te dice a que casa pertenece, dispone de una serie
          de minijuegos con los que puedes ganar puntos. Con esos puntos, puedes
          canjearlos en el apartado de la Tienda e ir comprando algunos de los 
          objetos iconicos de la saga. </p>
      </div>

      <div class="preview-block">
        <div class="contenedor-img">
          <img src="./../../../../assets/Images/CapturaCartasAlocadas.png" alt="Captura de Cartas Alocadas"
          id="CartasAlocadas">
        </div>
      </div>

      <div class="proyecto-actions">
        <a href="https://frontend-cartas-production.up.railway.app/" target="_blank" class="btn-action">
          <span class="cmd">./exec</span> Acceder
        </a>
        <a href="https://github.com/Carloscazallas123/RepoTestCard" target="_blank" class="btn-action">
          <span class="cmd">./view</span> Revisar Código
        </a>
      </div>
    </div>
  </div>
</div>
